ul li a:hover
{
  color: rgba(46, 44, 44, 0.9);
  text-decoration-line: underline;
  display: block;
}
ul li a img:hover 
{
  clip-path: circle( 40%   at  50%  50%);
                
  background-color: rgba(27, 25, 25, 0.137);
}

ul li:hover span
 { 
   transition-delay: 0.5s;
   visibility: visible;
 }

div #search-bar:focus::placeholder
{
  color: transparent;
}

div input[type="button"]:hover ,input[type="submit"]:hover
{
  box-shadow: 0px 0px 0px 0px gray ;
  background-color:white;
  letter-spacing: 1px; 
  cursor: pointer;
}

div input[type="button"]:active ,input[type="submit"]:active
{ 
  /*font-size: 13.8px;*/
  letter-spacing: 0px;   
  cursor: pointer;  background-color:rgba(112, 128, 144, 0.034); 
}

div div1:hover
 {
   background-color:rgba(27, 25, 25, 0.137);
   cursor: pointer ;
 }